version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "10:00"
      timezone: "Asia/Tokyo"
    groups:
      all-dependencies:
        patterns:
          - "*" # すべての依存関係を1つのPRにまとめる
    labels:
      - "dependencies" # PR に付けるラベル（管理しやすくなる）
